USE [master]
GO
/****** Object:  Database [PosManagement]    Script Date: 07-Jun-18 03:14:03 AM ******/
CREATE DATABASE [PosManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PosManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PosManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PosManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PosManagement_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PosManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PosManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[OrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[BranchId] [int] NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[ReferenceId] [int] NULL,
	[EmergencyContact] [nvarchar](max) NULL,
	[NID] [nvarchar](max) NULL,
	[FathersName] [nvarchar](max) NULL,
	[MothersName] [nvarchar](max) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[JoiningDate] [datetime] NOT NULL,
	[OrganizationId] [int] NOT NULL DEFAULT ((0)),
	[Branchs_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseCategories]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ExpenseCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseItems]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PreCode] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Category_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ExpenseItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseOperationInfoes]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseOperationInfoes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExpenseNo] [nvarchar](max) NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[PaidAmount] [float] NOT NULL,
	[DueAmount] [float] NOT NULL,
	[ExpenseDate] [datetime] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Employee_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ExpenseOperationInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExpenseOperations]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpenseOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[Amount] [float] NOT NULL,
	[LineTotal] [float] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Date] [datetime] NULL,
	[ExpenseInformationId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ExpenseOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemCategories]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParentId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Items]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PreCode] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[CostPrice] [float] NOT NULL,
	[SalePrice] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[Category_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[ContactNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parties]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parties](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[PreCode] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Contact] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Date] [datetime] NOT NULL,
	[IsCustomer] [bit] NOT NULL,
	[IsSupplier] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Parties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurchaseOperationInfoes]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOperationInfoes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PurchaseNo] [nvarchar](max) NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[SupplierId] [bigint] NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[TotalAmount] [float] NOT NULL,
	[PaidAmount] [float] NOT NULL,
	[DueAmount] [float] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Employee_Id] [int] NULL,
 CONSTRAINT [PK_dbo.PurchaseOperationInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseOperations]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[LineTotal] [float] NOT NULL,
	[Date] [datetime] NULL,
	[PurchaseInformationId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOperationInfoes]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOperationInfoes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SalesNo] [nvarchar](max) NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerContact] [nvarchar](max) NULL,
	[TotalAmount] [float] NOT NULL,
	[VAT] [float] NULL,
	[DiscountAmount] [float] NULL,
	[PayableAmount] [float] NOT NULL,
	[PaidAmount] [float] NOT NULL,
	[DueAmount] [float] NOT NULL,
	[SalesDate] [datetime] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Employee_Id] [int] NULL,
 CONSTRAINT [PK_dbo.SalesOperationInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesOperations]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[Quantity] [bigint] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[LineTotal] [float] NOT NULL,
	[Date] [datetime] NULL,
	[SalesOperationInformationId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.SalesOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 07-Jun-18 03:14:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[BranchId] [bigint] NOT NULL,
	[ItemId] [bigint] NOT NULL,
	[StockQuantity] [bigint] NOT NULL,
	[AveragePrice] [float] NOT NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_dbo.Stocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Code], [Contact], [Address], [Date], [OrganizationId]) VALUES (1, N'IDE#001', N'01852648721', N'Dhaka', CAST(N'2018-06-07 02:46:45.300' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Branches] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Code], [BranchId], [ImagePath], [ContactNo], [Email], [ReferenceId], [EmergencyContact], [NID], [FathersName], [MothersName], [PresentAddress], [PermanentAddress], [JoiningDate], [OrganizationId], [Branchs_Id]) VALUES (1, N'Md Ashiqur Rahman', N'EMP-MD -20180607', 1, NULL, N'01862460421', N'asdhiq@gmainl.com', 0, NULL, N'19997518750000196', NULL, NULL, NULL, NULL, CAST(N'2018-06-13 00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[ItemCategories] ON 

INSERT [dbo].[ItemCategories] ([Id], [ParentId], [Name], [Code], [Description], [ImagePath]) VALUES (1, 0, N'Electronics', N'ELE#001', N'nothing to say', NULL)
SET IDENTITY_INSERT [dbo].[ItemCategories] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [Name], [PreCode], [Code], [Description], [Image], [CostPrice], [SalePrice], [Date], [CategoryId], [Category_Id]) VALUES (1, N'Mobile', N'ELE#001', N'000001', N'nothing to say', 0x, 4500, 5600, CAST(N'2018-06-07 02:38:57.923' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [Code], [ContactNo], [Address], [ImagePath]) VALUES (1, N'IDEB', N'IDE#001', N'01862460421', N'Agargaon', NULL)
SET IDENTITY_INSERT [dbo].[Organizations] OFF
SET IDENTITY_INSERT [dbo].[Parties] ON 

INSERT [dbo].[Parties] ([Id], [Name], [PreCode], [Code], [Contact], [Email], [Address], [Image], [Date], [IsCustomer], [IsSupplier]) VALUES (1, N'Student', N'201806', N'0001', N'017549625412', N'abcd@gmail.com', N'Savar', 0x, CAST(N'2018-06-07 02:47:27.000' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Parties] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOperationInfoes] ON 

INSERT [dbo].[PurchaseOperationInfoes] ([Id], [PurchaseNo], [BranchId], [EmployeeId], [SupplierId], [Remarks], [TotalAmount], [PaidAmount], [DueAmount], [PurchaseDate], [Date], [Employee_Id]) VALUES (1, N'PR1806-0001', 1, 1, 1, NULL, 9000, 9000, 0, CAST(N'2018-07-06 00:00:00.000' AS DateTime), CAST(N'2018-06-07 02:51:14.977' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[PurchaseOperationInfoes] OFF
SET IDENTITY_INSERT [dbo].[PurchaseOperations] ON 

INSERT [dbo].[PurchaseOperations] ([Id], [ItemId], [Quantity], [UnitPrice], [LineTotal], [Date], [PurchaseInformationId]) VALUES (1, 1, 2, 4500, 9000, NULL, 1)
SET IDENTITY_INSERT [dbo].[PurchaseOperations] OFF
SET IDENTITY_INSERT [dbo].[SalesOperationInfoes] ON 

INSERT [dbo].[SalesOperationInfoes] ([Id], [SalesNo], [BranchId], [EmployeeId], [CustomerName], [CustomerContact], [TotalAmount], [VAT], [DiscountAmount], [PayableAmount], [PaidAmount], [DueAmount], [SalesDate], [Date], [Employee_Id]) VALUES (1, N'SL1806-0001', 1, 1, NULL, NULL, 11200, 0, 0, 11200, 11200, 0, CAST(N'2018-07-06 00:00:00.000' AS DateTime), CAST(N'2018-06-07 02:52:19.673' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SalesOperationInfoes] OFF
SET IDENTITY_INSERT [dbo].[SalesOperations] ON 

INSERT [dbo].[SalesOperations] ([Id], [ItemId], [Quantity], [UnitPrice], [LineTotal], [Date], [SalesOperationInformationId]) VALUES (1, 1, 2, 5600, 11200, NULL, 1)
SET IDENTITY_INSERT [dbo].[SalesOperations] OFF
SET IDENTITY_INSERT [dbo].[Stocks] ON 

INSERT [dbo].[Stocks] ([Id], [BranchId], [ItemId], [StockQuantity], [AveragePrice], [Date]) VALUES (1, 1, 1, 0, 4500, CAST(N'2018-06-07 02:51:15.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stocks] OFF
/****** Object:  Index [IX_OrganizationId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationId] ON [dbo].[Branches]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Branchs_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Branchs_Id] ON [dbo].[Employees]
(
	[Branchs_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationId] ON [dbo].[Employees]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[ExpenseItems]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[ExpenseOperationInfoes]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Id] ON [dbo].[ExpenseOperationInfoes]
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExpenseInformationId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExpenseInformationId] ON [dbo].[ExpenseOperations]
(
	[ExpenseInformationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[ExpenseOperations]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Category_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Category_Id] ON [dbo].[Items]
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[PurchaseOperationInfoes]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Id] ON [dbo].[PurchaseOperationInfoes]
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierId] ON [dbo].[PurchaseOperationInfoes]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[PurchaseOperations]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseInformationId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseInformationId] ON [dbo].[PurchaseOperations]
(
	[PurchaseInformationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[SalesOperationInfoes]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employee_Id]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_Id] ON [dbo].[SalesOperationInfoes]
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[SalesOperations]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOperationInformationId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOperationInformationId] ON [dbo].[SalesOperations]
(
	[SalesOperationInformationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BranchId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[Stocks]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemId]    Script Date: 07-Jun-18 03:14:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemId] ON [dbo].[Stocks]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Branches_Branchs_Id] FOREIGN KEY([Branchs_Id])
REFERENCES [dbo].[Branches] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Branches_Branchs_Id]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employees_dbo.Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_dbo.Employees_dbo.Organizations_OrganizationId]
GO
ALTER TABLE [dbo].[ExpenseItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseItems_dbo.ExpenseCategories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[ExpenseCategories] ([Id])
GO
ALTER TABLE [dbo].[ExpenseItems] CHECK CONSTRAINT [FK_dbo.ExpenseItems_dbo.ExpenseCategories_Category_Id]
GO
ALTER TABLE [dbo].[ExpenseOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseOperationInfoes_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseOperationInfoes] CHECK CONSTRAINT [FK_dbo.ExpenseOperationInfoes_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[ExpenseOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseOperationInfoes_dbo.Employees_Employee_Id] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[ExpenseOperationInfoes] CHECK CONSTRAINT [FK_dbo.ExpenseOperationInfoes_dbo.Employees_Employee_Id]
GO
ALTER TABLE [dbo].[ExpenseOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseOperations_dbo.ExpenseItems_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[ExpenseItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseOperations] CHECK CONSTRAINT [FK_dbo.ExpenseOperations_dbo.ExpenseItems_ItemId]
GO
ALTER TABLE [dbo].[ExpenseOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExpenseOperations_dbo.ExpenseOperationInfoes_ExpenseInformationId] FOREIGN KEY([ExpenseInformationId])
REFERENCES [dbo].[ExpenseOperationInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExpenseOperations] CHECK CONSTRAINT [FK_dbo.ExpenseOperations_dbo.ExpenseOperationInfoes_ExpenseInformationId]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Items_dbo.ItemCategories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[ItemCategories] ([Id])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_dbo.Items_dbo.ItemCategories_Category_Id]
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes] CHECK CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Employees_Employee_Id] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes] CHECK CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Employees_Employee_Id]
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Parties_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Parties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOperationInfoes] CHECK CONSTRAINT [FK_dbo.PurchaseOperationInfoes_dbo.Parties_SupplierId]
GO
ALTER TABLE [dbo].[PurchaseOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOperations_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOperations] CHECK CONSTRAINT [FK_dbo.PurchaseOperations_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[PurchaseOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOperations_dbo.PurchaseOperationInfoes_PurchaseInformationId] FOREIGN KEY([PurchaseInformationId])
REFERENCES [dbo].[PurchaseOperationInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOperations] CHECK CONSTRAINT [FK_dbo.PurchaseOperations_dbo.PurchaseOperationInfoes_PurchaseInformationId]
GO
ALTER TABLE [dbo].[SalesOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOperationInfoes_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOperationInfoes] CHECK CONSTRAINT [FK_dbo.SalesOperationInfoes_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[SalesOperationInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOperationInfoes_dbo.Employees_Employee_Id] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[SalesOperationInfoes] CHECK CONSTRAINT [FK_dbo.SalesOperationInfoes_dbo.Employees_Employee_Id]
GO
ALTER TABLE [dbo].[SalesOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOperations_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOperations] CHECK CONSTRAINT [FK_dbo.SalesOperations_dbo.Items_ItemId]
GO
ALTER TABLE [dbo].[SalesOperations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SalesOperations_dbo.SalesOperationInfoes_SalesOperationInformationId] FOREIGN KEY([SalesOperationInformationId])
REFERENCES [dbo].[SalesOperationInfoes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalesOperations] CHECK CONSTRAINT [FK_dbo.SalesOperations_dbo.SalesOperationInfoes_SalesOperationInformationId]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stocks_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_dbo.Stocks_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stocks_dbo.Items_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_dbo.Stocks_dbo.Items_ItemId]
GO
USE [master]
GO
